.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 145, 0);
}

.navlinks {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}

.navlink {
  text-decoration: none;
  color: black;
}