.display-stories {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  align-items: center;
}

html {
  background-color: #000;
}

.story-title {
  border: 0.2vh solid #3f0e00;
  border-width: 5px;
  margin: 5vh;
  color: #ffdc9a;
  background-color: #000;
  padding: 2vh;
  font-size: 30px;
}

.story-image {
  max-width: 30vh;
}

.Home {
  position:absolute;
  align-self: center;
  left:42.5%;
  
}
