.navbar-container {
    background-color: #3f0e00;
    color: #ffdc9a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar-header {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px #222;
}

.navlinks-container {
    display: flex;
    gap: 1rem;
}

.navlink {
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    color: #ffdc9a;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.navlink:hover {
    background-color: #ffdc9a;
    color: #3f0e00;
    transform: translateY(-2px);
}
