.full-story {
  color: #ffdc9a;
}

.full-story p{
  padding: 25px;
}

.full-story h3, h1, img{
  margin-top: 15px;
}

.btn {
  margin: 8px;
  padding: 10px;
  border-width: 0;
  background-color: #3f0e00;
  color: #ffdc9a;
  width: 125px;
  font-size: 15px;
}

.btn:hover {
  background-color: #310b00;
}

.btn:active {
  background-color: #310b00;
  transform: translateY(4px);
}